.birthday-picker {
  border: 1px solid black;
}

.birthday-picker .selectors {
  display: flex;
  justify-content: center;
}

.birthday-picker .select-section{
  flex: content;
  padding: 5px;
}

.birthday-picker .select-section select{
  height: 100%;
}

.birthday-picker table.day-table {
  border-right: 1px solid #d6dadc;
  border-bottom: 1px solid #d6dadc;
  border-collapse: collapse;
  border-spacing: 0;
}
.birthday-picker .day-table thead {
  background: linear-gradient(to bottom,#fff 0,#edeff0 100%);
}
.birthday-picker .day-table th {
  line-height: 25px;
}
.birthday-picker .day-table th, .birthday-picker .day-table td {
  border-top: 1px solid #d6dadc;
  border-left: 1px solid #d6dadc;
  padding: 0;
}

.birthday-picker .day-table button {
    border: 0;
    background: 0 0;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: 0;
    width: 100%;
    padding: 9px;
}

.birthday-picker .day-table button:hover {
    background-color: #d6dadc;
}

.birthday-picker .day-table button.is-selected {
    color: #fff;
    background: #0079bf;
}

.birthday-picker .day-table td.is-empty {
  background-color: #edeff0;
}

.birthday-picker .day-table td.is-empty button {
  pointer-events: none;
  color: #939393;
}