<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8'>
  <title>date picker</title>
  <link href="birthday-picker.css" rel="stylesheet" />
  <link href="birthday-input.css" rel="stylesheet" />
</head>

<body>
  <div id='container'></div>

  <script id='template' type='text/ractive'>
    <div><birthday-input value="{{date1}}" /></div>
    <div><birthday-input value="{{date2}}" /></div>
  </script>

  <script id='birthdayPicker' type='text/ractive'>
    <div class="birthday-picker">
      <div class="selectors">
        {{valueStr}}
      </div>
      <div class="selectors">
        <div class="select-section">
          <select size="5" value="{{year}}">
            {{#years}}
            <option value="{{id}}">{{name}}</option>
            {{/years}}
          </select>
        </div>    
        <div class="select-section">
          <select size="5" value="{{month}}">
            {{#months}}
            {{# {m: .} }}
            <option value="{{id}}">{{m.name}}</option>
            {{/}}
            {{/}}
          </select>
        </div>
        <div class="select-section pika-single">
          <table class="pika-table day-table">
            <thead><tr><th scope="col"><abbr title="Sunday">Su</abbr></th><th scope="col"><abbr title="Monday">Mo</abbr></th><th scope="col"><abbr title="Tuesday">Tu</abbr></th><th scope="col"><abbr title="Wednesday">We</abbr></th><th scope="col"><abbr title="Thursday">Th</abbr></th><th scope="col"><abbr title="Friday">Fr</abbr></th><th scope="col"><abbr title="Saturday">Sa</abbr></th></tr></thead>
            <tbody>
              {{#each weeks}}
              <tr>
                {{#each this}} {{# {d: .} }}
                <td class="{{d.current ? '' : 'is-empty'}}">
                  <button class="{{currentDay===d.day && d.current ? 'is-selected' : ''}}" type="button" on-click="selectDate(d)">{{d.day}}</button>
                </td>
                {{/}} {{/each}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>      
      </div>
    </div>
  </script>

  <script id='birthdayInput' type='text/ractive'>
    <input type="text" value="{{value}}" />
    <button on-click="openPicker(event)">Open</button>
    <div class="birthday-input-dialog {{open ? 'open':''}}" style="left: {{left}}; top: {{top}}">
      <birthday-picker value="{{value}}" />
      <div>
        <button on-click="closePicker()">Select</button>
      </div>
    </div>
  </script>

  <script src='node_modules\ractive\ractive.js'></script>
  <script src='node_modules\moment\moment.js'></script>
  <script src='node_modules\moment\locale\ru.js'></script>
  <script>
    var locale = window.navigator.userLanguage || window.navigator.language;
    moment.locale(locale);

    var birthdayPicker = Ractive.extend({
      template: '#birthdayPicker',
      data: function () {
        return { 
          months: [], weeks: [], years: [], value: null, valueStr: '', year: null, month: null, currentDay: null
        }
      },
      oninit: function () {
        var self = this
        var today = new Date()
        var selected = this.get('value')
        if(!selected){
          selected = today
          this.set('value', selected)
        }

        var months = [];
        while (months.length < 12) {
          months.push( { 'name': moment().month(months.length).format("MMMM"), 'id': months.length} )
        }

        var years = [];
        while (years.length < 150) {
          var year = (today.getFullYear() - years.length)
          years.push( { 'name': year, 'id': year} )
        }

        this.set({'months': months, 
          'years': years, 
          'year': selected.getFullYear(), 
          'month': selected.getMonth(), 
          'currentDay': selected.getDate(),
          'valueStr': moment(selected).format('L')
        })

        this.rebuildDayTable()

        this.observe('month year', function (newValue, oldValue, keypath) {
            self.updateValue()
            self.rebuildDayTable()
        }, {init: false})
      },
      updateValue: function() {
        var newValue = new Date(this.get('year'), this.get('month'), this.get('currentDay'))
        this.set({'value': newValue, 'valueStr': moment(newValue).format('L')})
      },
      rebuildDayTable: function (){
        var selected = this.get('value')
        var m = moment(selected)
        m.startOf('month')
        m.add(-m.weekday(), 'days')

        var isCurrent = false
        var allWeeks = []
        for (var w = 0; w < 6; w++) {
          var week = []
          for (var d = 0; d < 7; d++) {
            var day = {day: m.date()}
            if(day.day === 1) {
              isCurrent = !isCurrent
            }
            day.current = isCurrent

            week.push(day)
            m.add(1, 'days')
          }
          allWeeks.push(week)
        }

        this.set('weeks', allWeeks)
      },
      selectDate: function(date){
        if(!date.current){
          return
        }
        this.set('currentDay', date.day)
        this.updateValue()
      }
    })

    var birthdayInput = Ractive.extend({
      template: '#birthdayInput',
      components: { 'birthday-picker': birthdayPicker },
      data: function() {
        return {
          value: null,
          open: false,
          top: 0,
          left: 0
        }
      },
      documentClickVar: null,
      subscribeToDocumentClick: function(){
        var self = this
        if(self.documentClickVar){
          return
        }
        window.setTimeout(function () {
          self.documentClickVar = function (e) {
            var target = e.target
            var close = true
            while(target){
              if(target.classList.contains('birthday-input-dialog')){
                close = false
              }
              target = target.parentElement              
            }
            if(close){
              self.closePicker(e)
            }
          }
          document.addEventListener('click', self.documentClickVar)
        }, 0)
      },
      openPicker: function(e) {
        e = e.original
        this.set({'open': true, left: (e.pageX + 15)+'px', top:(e.pageY+15)+'px'})
        this.subscribeToDocumentClick()
      },
      closePicker: function() {
        document.removeEventListener('click', this.documentClickVar)
        this.set({'open': false})
      },
      onteardown: function(){
        this.closePicker()
      }
    })

    var ractive = new Ractive({
      el: '#container',
      template: '#template',
      components: { 'birthday-input': birthdayInput },
      data: function (){
        var self = this;
        return { 
          date1: new Date(),
          date2: new Date(2016, 6, 3)
        }
      }
    });
  </script>
</body>
</html>