<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8'>
  <title>Ractive test</title>
</head>

<body>
  <div id='container'></div>

  <!--
       2. You can load a template in many ways. For convenience, we'll include it in
       a script tag so that we don't need to mess around with AJAX or multiline strings.
       Note that we've set the type attribute to 'text/ractive' - though it can be
       just about anything except 'text/javascript'
  -->
  <script id='template' type='text/ractive'>
    <form-validation>
      I will be in the name-less yield.
      <counter number="{{countNum}}" />
      <counter number="{{countDig}}" />
    </form-validation>

    <div>
      {{#gunas}}
        <b>{{name}}</b>
      {{/gunas}}
    </div>

    <div>
    result us <b>{{countNum}} - {{countDig}}</b>
    </div>
  </script>

  <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
  <script>
    var gunas = [{name:'n1',qualities:'q1'},{name:'n2',qualities:'q2'}];

    var formValidation = Ractive.extend({
      template: '{{yield}}',
      oncomplete: function () {
        var children = this.findAllComponents('counter')

        children.forEach(function(counter){
          counter.on('numberWasChanged', function(e){
            console.log(e)
          })
        })
      }
    });

    var counter = Ractive.extend({
      template: '<div> <input type="text" value="{{number}}" on-keyup="mychange()" />  </div>',
      data: { number: 0, fake1: 33 },
      mychange: function(){
        var self = this
        this.fire('numberWasChanged', {number: self.get('number'), name: 'hello from fire'})
      }
    });

    var ractive = new Ractive({
      el: '#container',
      template: '#template',
      components: { 'form-validation': formValidation, counter: counter },
      data: { gunas: gunas, countNum: 33, countDig:55 }
    });
  </script>
</body>
</html>