<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8'>
  <title>Ractive test</title>
</head>

<body>
  <div id='container'></div>

  <script id='template' type='text/ractive'>
    <form decorator="formDecorator:{{valRes}}">
      I will be in the name-less yield.
      <counter number="{{countNum}}" />
      <counter number="{{countDig}}" />
    </form>

    <div>
      {{#gunas}}
        <b>{{name}}</b>
      {{/gunas}}
    </div>

    <div>
    result us <b>{{countNum}} - {{countDig}}. total={{valRes2.total}}</b>
    </div>
  </script>

  <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
  <script>
    var gunas = [{name:'n1',qualities:'q1'},{name:'n2',qualities:'q2'}];

    var formDecorator = function(node, res){
      console.log('start decorator')
      var self = this
      var children = this.findAllComponents('counter')

      var calc = function(){
        var sum=0;
        children.forEach(function(counter){
          sum+=parseInt(counter.get('number'))
        })
        res.ccc(sum)
      }

      children.forEach(function(counter){
        counter.on('numberWasChanged', calc)
      })

      return {
        teardown: function () {
          children.forEach(function(counter){
            counter.off('numberWasChanged', calc)
          })
        }
      };
    }

    var counter = Ractive.extend({
      template: '<div> <input type="text" value="{{number}}" on-keyup="mychange()" />  </div>',
      data: { number: 0, fake1: 33 },
      mychange: function(){
        var self = this
        this.fire('numberWasChanged', {number: self.get('number'), name: 'hello from fire'})
      }
    });

    var ractive = new Ractive({
      el: '#container',
      template: '#template',
      components: { counter: counter },
      data: function (){
        var self = this;
        return { 
          gunas: gunas, countNum: 33, countDig:55, 
          valRes: { 
            ccc: function(sum){
              self.set('valRes2.total',sum)
              console.log('total=', sum)
            }
          },
          valRes2: {
            total:0
          }
        }
      },
      decorators: {
        formDecorator: formDecorator
      }
    });
  </script>
</body>
</html>